
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 160rem;
}.index-7PH {
  width: 100%;
  height: 200rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;

  .podval-vrX {
    position: absolute;
    top: 170.7rem;
    box-sizing: border-box;
    padding: 1.8rem 19.5rem 0rem 20rem;
    width: 160rem;
    background: linear-gradient(180deg, rgba(34, 35, 141, 0) -0%, #22238d 100%);
    height: 29.6rem;
    left: 0rem;
    filter: blur(0.7rem);

    .box-g6w {
      position: relative;
      border-radius: 8.8rem;
      width: 100%;
      height: 100%;

      .rectangle-6-oBZ {
        width: 120rem;
        position: absolute;
        border: solid 0.6rem #22246f;
        height: 27.5rem;
        left: 0;
        top: 0;
        box-sizing: border-box;
        background-color: #ffffff;
        border-radius: 8.8rem;
      }
      .box-1-eT5 {
        box-sizing: border-box;
        height: 27.5rem;
        left: 0;
        border-radius: 8.8rem;
        border: solid 0.6rem #22246f;
        background-color: #ffffff;
        padding: 9rem 0;
        width: 40rem;
        position: absolute;
        top: 0;

        .group-2-xCs {
          position: relative;
          width: 25.5rem;
          height: 100%;

          .item--VCo {
            color: #000000;
            font-family: Playfair Display, 'Source Sans Pro';
            left: 0;
            align-items: center;
            font-weight: 400;
            width: 25.5rem;
            top: 0;
            white-space: nowrap;
            position: absolute;
            font-size: 4rem;
            line-height: 1.3;
            height: 5.2rem;
            display: flex;
            justify-content: center;
          }
          .item--etK {
            position: absolute;
            font-weight: 400;
            left: 3.65rem;
            top: 4.3rem;
            display: flex;
            line-height: 1.3;
            height: 5.2rem;
            color: #000000;
            width: 18.2rem;
            align-items: center;
            justify-content: center;
            font-size: 4rem;
            font-family: Playfair Display, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
      }
      .box-2-GPu {
        box-sizing: border-box;
        height: 27.5rem;
        left: 25.5rem;
        border: solid 0.6rem #22246f;
        background-color: #ffffff;
        border-radius: 8.8rem;
        padding: 8.7rem 1.95rem 9.3rem 1.95rem;
        width: 40rem;
        position: absolute;
        top: 0.3rem;

        .group-3-mbZ {
          width: 23rem;
          height: 100%;
          position: relative;

          .item--j2b {
            top: 0;
            justify-content: center;
            line-height: 1.3;
            height: 5.2rem;
            align-items: center;
            font-size: 4rem;
            font-family: Playfair Display, 'Source Sans Pro';
            white-space: nowrap;
            width: 20.9rem;
            left: 1.05rem;
            font-weight: 400;
            position: absolute;
            display: flex;
            color: #000000;
          }
          .item--mzs {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 4rem;
            color: #000000;
            position: absolute;
            left: 0;
            top: 4.3rem;
            line-height: 1.3;
            font-family: Playfair Display, 'Source Sans Pro';
            white-space: nowrap;
            width: 23rem;
            height: 5.2rem;
            font-weight: 400;
          }
        }
      }
      .box-3-2R1 {
        position: absolute;
        left: 51.7rem;
        top: 0.3rem;
        border-radius: 8.8rem;
        width: 49.2rem;
        height: 27.5rem;

        .group-3-9Vd {
          width: 100%;
          height: 100%;
          position: relative;
          border: solid 0.6rem #22246f;
          box-sizing: border-box;
          background-color: #ffffff;
          border-radius: 8.8rem;

          .item--i2w {
            align-items: center;
            justify-content: center;
            height: 5.2rem;
            font-weight: 400;
            width: 15rem;
            top: 8.7rem;
            font-size: 4rem;
            line-height: 1.3;
            color: #000000;
            font-family: Playfair Display, 'Source Sans Pro';
            position: absolute;
            display: flex;
            white-space: nowrap;
            left: 10.3965rem;
          }
          .item--bMd {
            height: 5.2rem;
            align-items: center;
            font-size: 4rem;
            font-family: Playfair Display, 'Source Sans Pro';
            white-space: nowrap;
            top: 13rem;
            left: 2.258rem;
            display: flex;
            line-height: 1.3;
            width: 31.4rem;
            position: absolute;
            justify-content: center;
            font-weight: 400;
            color: #000000;
          }
        }
      }
      .box-4-S7M {
        top: 0;
        border: solid 0.6rem #22246f;
        background-color: #ffffff;
        box-sizing: border-box;
        height: 27.5rem;
        position: absolute;
        left: 86.3rem;
        padding: 8.5rem 1.314rem 9.5rem 0.886rem;
        width: 34.2rem;
        border-radius: 8.8rem;

        .group-4-kdq {
          height: 100%;
          position: relative;
          width: 100%;

          .item--v2X {
            left: 6.35rem;
            line-height: 1.3;
            font-family: Playfair Display, 'Source Sans Pro';
            width: 19.3rem;
            display: flex;
            white-space: nowrap;
            height: 5.2rem;
            top: 0;
            justify-content: center;
            font-weight: 400;
            color: #000000;
            position: absolute;
            align-items: center;
            font-size: 4rem;
          }
          .item--M7q {
            display: flex;
            align-items: center;
            white-space: nowrap;
            height: 5.2rem;
            position: absolute;
            line-height: 1.3;
            width: 32rem;
            left: 0;
            top: 4.3rem;
            justify-content: center;
            font-size: 4rem;
            font-weight: 400;
            color: #000000;
            font-family: Playfair Display, 'Source Sans Pro';
          }
        }
      }
    }
  }
  .osninf-JhH {
    width: 160rem;
    height: 133rem;
    position: absolute;
    left: 0;
    top: 39.8rem;

    .background-F6j {
      height: 127.6rem;
      position: absolute;
      left: 0;
      top: 5.4rem;
      object-fit: cover;
      vertical-align: top;
      width: 160rem;
    }
    .body-a91 {
      height: 125.5rem;
      top: 3rem;
      border: solid 0.6rem #22246f;
      box-sizing: border-box;
      width: 120rem;
      position: absolute;
      left: 20rem;
      background-color: #ffffff;
      border-radius: 8.8rem;
    }
    .box--ghq {
      left: 45rem;
      top: 3rem;
      background-size: 100% 119.795%;
      background-position: 0 5.4084rem;
      background-image: url('REPLACE_IMAGE:bbf9da29da40c635176d00751b6dc732c3a302f0');
      border-radius: 8.8rem;
      width: 94.5rem;
      height: 52.6rem;
      position: relative;
    }
    .box--wdm {
      background-image: url('REPLACE_IMAGE:76e6fb883f7188a5c92c10341b61695f3c06bd6a');
      border-radius: 8.8rem;
      left: 45rem;
      top: 37.9rem;
      background-position: 0 -5.2062rem;
      background-size: 100% 119.795%;
      width: 94.5rem;
      height: 52.6rem;
      position: relative;
    }
    .box--DbH {
      height: 52.6rem;
      background-size: 100% 163.517%;
      border-radius: 8.8rem;
      width: 94.5rem;
      position: relative;
      left: 45rem;
      top: 76.1rem;
      background-position: 0 -18.9794rem;
      background-image: url('REPLACE_IMAGE:315bd73866303cec0a1328e53d935f0adc76c2c5');
    }
    .box--ewV {
      left: 20rem;
      top: 0;
      width: 25.5rem;
      height: 128.5rem;
      position: absolute;

      .rectangle-8-aaF {
        position: absolute;
        left: 0;
        top: 0;
        border: solid 0.6rem #22246f;
        box-sizing: border-box;
        background-color: #ffffff;
        width: 25.5rem;
        height: 35.7rem;
      }
      .rectangle-7-usR {
        height: 125.5rem;
        position: absolute;
        top: 3rem;
        background-color: #ffffff;
        width: 25.5rem;
        left: 0;
        border: solid 0.6rem #22246f;
        box-sizing: border-box;
        border-radius: 8.8rem;
      }
      .item-2024--qWB {
        position: absolute;
        display: flex;
        font-size: 4rem;
        font-weight: 400;
        line-height: 1.3;
        font-family: Playfair Display, 'Source Sans Pro';
        left: 6.55rem;
        top: 116.55rem;
        align-items: center;
        justify-content: center;
        width: 12.4rem;
        height: 5.2rem;
        color: #000000;
        white-space: nowrap;
      }
      .rectangle-11-jLf {
        width: 25.5rem;
        height: 25.5rem;
        position: absolute;
        left: 0;
        top: 85rem;
        object-fit: cover;
        vertical-align: top;
      }
      .rectangle-10-GbV {
        left: 0;
        top: 60.1rem;
        object-fit: cover;
        vertical-align: top;
        width: 25.5rem;
        height: 25.5rem;
        position: absolute;
      }
      .rectangle-9-cfM {
        top: 35.2rem;
        object-fit: cover;
        vertical-align: top;
        width: 25.5rem;
        height: 25.5rem;
        position: absolute;
        left: 0;
      }
      .item--Zab {
        width: 20.8rem;
        display: flex;
        white-space: nowrap;
        height: 5.2rem;
        position: absolute;
        top: 23.95rem;
        line-height: 1.3;
        align-items: center;
        font-size: 4rem;
        color: #000000;
        font-family: Playfair Display, 'Source Sans Pro';
        left: 2.35rem;
        justify-content: center;
        font-weight: 400;
      }
    }
  }
  .nheader-Ewd {
    top: 0;
    width: 160rem;
    height: 57.7rem;
    position: absolute;
    left: 0rem;

    .shapka-yuD {
      top: 0;
      background-size: 100% 291.25%;
      background-position: -0.2018rem -31.4643rem;
      background-image: url('REPLACE_IMAGE:315bd73866303cec0a1328e53d935f0adc76c2c5');
      width: 160rem;
      height: 50rem;
      position: relative;
      left: 0;
    }
    .biglogo-tWP {
      left: 20rem;
      top: 21rem;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: #f7f7f7;
      border-radius: 13rem;
      width: 120rem;
      height: 36.7rem;
      position: absolute;

      .rectangle-4-qAj {
        width: 120rem;
        height: 35.406rem;
        position: relative;
        background-size: 104.712% 323.011%;
        background-position: -4.387rem -40.3589rem;
        background-image: url('REPLACE_IMAGE:6e5796a1af3cfeae6e70c296d45158fbbf190c82');
        border-radius: 13rem;
      }
    }
    .header-VWB {
      width: 160rem;
      height: 21rem;
      position: absolute;
      left: 0;
      top: 0;

      .header-SRR {
        width: 160rem;
        height: 12rem;
        position: absolute;
        left: 0;
        top: 0;
        background-color: #ffffff;
      }
      .buttons-Bdu {
        position: absolute;
        top: 1rem;
        column-gap: 7.5rem;
        align-items: center;
        border-radius: 5rem;
        height: 10rem;
        left: 43.8rem;
        display: flex;
        width: 94.5rem;

        .button--u47 {
          width: 26.5rem;
          line-height: 1.3;
          white-space: nowrap;
          background: radial-gradient(141.5% 141.5% at 50.19% -41.5%, rgba(34, 36, 111, 0.5) 0%, #22246f 50%, rgba(34, 36, 111, 0.5) 100%);
          height: 100%;
          align-items: center;
          font-size: 4.8rem;
          font-family: Playfair Display, 'Source Sans Pro';
          flex-shrink: 0;
          display: flex;
          font-weight: 400;
          border-radius: 5rem;
          justify-content: center;
          color: #ffffff;
        }
        .button--Jc3 {
          width: 26.5rem;
          display: flex;
          justify-content: center;
          align-items: center;
          font-weight: 400;
          line-height: 1.3;
          color: #ffffff;
          background: radial-gradient(141.5% 141.5% at 50.19% -41.5%, rgba(34, 36, 111, 0.5) 0%, #22246f 50%, rgba(34, 36, 111, 0.5) 100%);
          border-radius: 5rem;
          flex-shrink: 0;
          height: 100%;
          font-size: 4.8rem;
          font-family: Playfair Display, 'Source Sans Pro';
          white-space: nowrap;
        }
        .button--wQ7 {
          display: flex;
          font-weight: 400;
          color: #ffffff;
          white-space: nowrap;
          height: 100%;
          align-items: center;
          justify-content: center;
          font-size: 4.8rem;
          line-height: 1.3;
          background: radial-gradient(141.5% 141.5% at 50.19% -41.5%, rgba(34, 36, 111, 0.5) 0%, #22246f 50%, rgba(34, 36, 111, 0.5) 100%);
          flex-shrink: 0;
          width: 26.5rem;
          font-family: Playfair Display, 'Source Sans Pro';
          border-radius: 5rem;
        }
      }
      .logo-w2j {
        left: 1rem;
        top: 1rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 54rem;
        width: 20rem;
        height: 20rem;
        position: absolute;
      }
    }
  }
}
